<div id="<%= dom_id(student, :index) %>">
  <%= turbo_stream_from student %>
    <tr>
      <%= render student %>
      <td>
        <%= link_to "View", student, class: "btn btn-white" %>
      </td>
    </tr>
</div>

