<div id="<%= dom_id student %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Absences</p>
    <%= student.absences %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">User</p>
    <%= student.user_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Cohort</p>
    <%= student.cohort_id %>
  </div>
</div>
